body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.vending {
  padding-top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: darkred;
  outline: 2pt solid black;
}

.title {
  margin-top: -20px;
  color: whitesmoke;
}

.author {
  margin-top: -20px;
  color: gold;
}

#output-window {
  display: block;
  padding: 20px;
  width: 400px;
  height: 200px;
}

.control-container {
  color: white;
  padding: 20px;
  padding-top: 0px;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.code-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
}

.letter-panel {
  display: flex;
  justify-content: center;
}

.number-panel {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.code-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 5px;
  background-color: black;
  color: white;
}

#code-window {
  height: 50px;
  padding: 20px;
}

.money-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
}

.money-button {
  color: black;
  background-color: green;
}

.command-panel {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#purchase {
  background-color: darkgreen;
}

#clear {
  margin-left: 20px;
  background-color: darkred;
}

.panel-span {
  margin: 20px;
}

.money-panel {
  display: flex;
  flex-direction: column;
}

#money-window {
  height: 50px;
  padding: 20px;
}

#money-return {
  background-color: darkred;
  margin-top: 20px;
}

.window {
  background-color: #b3aaaa;
  color: darkred;
}
